.servers_top {
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.5vw 0.9vw;
  align-items: center;
}
.servers_top h2 {
  color: rgba(224, 224, 224, 0.979);
  text-shadow: 1px 1px 6px black;
  font-size: xx-large;
}
.servers_top button {
  padding: 0.7vw 1.5vw;
  background-color: black;
  color: rgba(224, 224, 224, 0.979);
  font-size: 1.4vw;
  text-shadow: 1px 1px 4px black;
  box-shadow: 1px 1px 4px black;
  border-radius: 0.4vw;
}
.servers_container {
  background-color: black;
  padding: 2.5vw 5vw;
  min-height: 100vh;
  background-color: black;
}
#create_grp_link {
  padding: 0.5vw 1.2vw;
  background-color: rgb(37, 37, 37);
  color: rgba(224, 224, 224, 0.979);
  font-size: 1.4vw;
  text-shadow: 1px 1px 4px black;
  box-shadow: 0.2px 0.2px 6px rgba(0, 0, 0, 0.505);
  border-radius: 0.4vw;
  margin-top: 0px;
  position: relative;
  top: -50px;
}
.main_servers {
  background-color: rgb(37, 37, 37);
  padding: 2vw;
  margin: 20px 0;
  border-radius: 6px;
  box-shadow: 5px;
}
.noservers {
  color: rgba(224, 224, 224, 0.979);
  font-size: 1.5vw;
  text-align: center;
  text-shadow: 1px 1px 4px black;
}
